<div class=container>
<h1>My Bookings</h1>
 <div><% @bookings.each do |booking| %>
   <p><%= booking.planet.name %></p>
   <p><%= booking.start_date %> <%= booking.end_date %></p>
   <p><%= booking.status %></p></div>
  <% end %>
</div>
