<div class="banner">
  <div class="container">
    <h1>Astral Escapes</h1>
    <p>Change your life and visit a new planet</p>
  </div>
</div>
<div class="cards">
<div class="card-planet">
  <%= image_tag "planete1.jpeg" %>
  <div class="card-planet-infos">
    <h2>Venus</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-planet">
  <%= image_tag "planete2.jpeg" %>
  <div class="card-planet-infos">
    <h2>Neptune</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-planet">
  <%= image_tag "planete3.jpeg" %>
  <div class="card-planet-infos">
    <h2>Mars</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
</div>
