.banner {
  background-image: asset-url("banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 38px;
  font-weight: bold;
}

.banner p {
  font-size: 26px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
