.navbar-astral-escapes {
  justify-content: space-between;
  background: white;
}

.navbar-astral-escapes .navbar-collapse {
  flex-grow: 0;
}

.navbar-astral-escapes .navbar-brand img {
  width: 70px;
}
