.navbar-astral-escapes {
  justify-content: space-between;
  align-items: center;
  background: white;
  font-family: "Unica One", "Helvetica", "sans-serif";
  font-size: 18px;
}

.navbar-astral-escapes .navbar-collapse {
  flex-grow: 0;
}

.navbar-astral-escapes .navbar-brand img {
  width: 70px;
}
